<main class="board">
  <header class="board__header">
    <h1 class="board__title">Users Administration</h1>
  </header>

  <section class="board__content">
    <button id="add-user-btn" class="task-details__save">Add User</button>

    <table class="users-table">
      <thead>
        <tr>
          <th>Login</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody id="users-list"></tbody>
    </table>
  </section>

  <footer class="board__footer">
    <div>Administrator panel</div>
  </footer>
</main>
