/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BOARD */

.board {
  max-width: 1235px;
  margin: 0 auto;
  background-color: #0079bf;
  color: #ffffff;
}

/* HEADER */

.board__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: #0067a3;
}

.board__title {
  font-size: 28px;
  font-weight: 400;
}

/* USER MENU */

.user-menu {
  position: relative;
}

.user-menu__trigger {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.user-menu__avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("/src/images/avatar.png");
  background-size: cover;
  background-position: center;
}

.user-menu__arrow {
  width: 10px;
  height: 10px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}

.user-menu__dropdown {
  position: absolute;
  top: 55px;
  right: 0;
  display: none;
  min-width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: visible;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.user-menu__dropdown::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 74%;
  transform: translateX(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background: #ffffff;
  z-index: -1;
}

.user-menu__item {
  list-style: none;
}

.user-menu__action {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.user-menu__action:hover {
  background-color: #ebecf0;
}

.user-menu__item:first-child .user-menu__action {
  border-radius: 6px 6px 0 0;
}

.user-menu__item:last-child .user-menu__action {
  border-radius: 0 0 6px 6px;
}

/* CONTENT */ 

.board__content { 
  padding: 20px;
   overflow-x: auto; 
  } 

.board__columns { 
  display: flex; 
  gap: 25px; 
  list-style: none; 
  min-width: max-content; 
  margin: 0; padding: 0; 
} 

.board__column { 
  flex-shrink: 0; 
}

/* COLUMN */

.column {
  width: 280px;
  padding: 12px;
  border-radius: 10px;
  background-color: #ebecf0;
}

.column__title {
  margin-bottom: 15px;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}

/* TASK LIST */

.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
  max-height: 400px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
}

.task-list__item {
  border-radius: 6px;
  background-color: #ffffff;
  padding: 0;
  transition:
    background-color 0.2s,
    transform 0.2s;
}

.task-list__item:hover {
  background-color: #dfe9f3;
  cursor: pointer;
  transform: translateY(-2px);
}

.task-card {
  padding: 10px 12px;
  color: #000000;
  line-height: 1.4;
}

/* ADD CARD BUTTON */

.add-card-button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  transition:
    background-color 0.2s,
    color 0.2s;
}

/* ACTIVE STATE */

.add-card-button--active {
  background-color: transparent;
  color: #5e6c84;
}

.add-card-button--active:hover {
  background-color: #ffffff;
  color: #172b4d;
  cursor: pointer;
}

/* DISABLED STATE */

.add-card-button--disabled {
  background-color: transparent;
  color: #a5adba;
  cursor: default;
}

.add-card-button--disabled:hover {
  background-color: transparent;
  color: #a5adba;
  cursor: default;
}

/* Input */

.add-card-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -5px;
}

.add-card-input {
  padding: 8px 12px;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff;
}

.add-card-input:focus {
  outline: none;
  border-color: #0079BF;
}

/* Submit button */

.submit-card-btn {
  background-color: #0079BF;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  color: white;
  font-size: 14px;
  width: 100px;
  cursor: pointer;
}

.submit-card-btn:hover {
  background-color: #005f8e;
}

/* Стили для дропдауна (select) */
.select-task {
  padding: 12px 8px;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.select-task:focus {
  outline: none;
}

/* FOOTER */

.board__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: #0067a3;
}

.board__stats {
  display: flex;
  gap: 24px;
}

.board__copyright {
  font-size: 14px;
}

/* TASK DETAILES */

.task-details {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 1181px;
  margin: -20px 26px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.task-details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.task-details__title {
  font-size: 24px;
  color: #000;
  margin: 0;
}

.task-details__close {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.task-details__content textarea {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

.task-details__actions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 15px;
  align-items: center;
}

.task-details__user {
  margin-right: auto;
  font-size: 14px;
  color: #666;
}

.task-details__save,
.task-details__delete {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.task-details__delete {
  background-color: #dc3545;
}

.users-table {
  width: 100%;
  background: white;
  color: black;
  border-collapse: collapse;
  margin-top: 20px;
}

.users-table th,
.users-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.delete-user-btn {
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  background: #dc3545;
  color: white;
  cursor: pointer;
}

.admin-only {
  display: none;
}

/* МОБИЛЬНЫЕ СТИЛИ */
@media (max-width: 768px) {
  .board__content {
    overflow-x: visible;
    padding: 50px;
  }

  .board__columns {
    flex-direction: column;
    gap: 50px;
    min-width: auto;
  }

  .board__column {
    width: 100%;
  }

  .column {
    width: 90%;
    margin: 0 auto;
  }

  .board__header {
    flex-direction: column;
    gap: 12px;
    background-color: #0079bf;
}

  .board__title {
    font-size: 24px;
    text-align: left;
  }

  .user-menu {
  position: relative;
  margin-left: auto;
}

  .board__footer {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  .board__stats {
    justify-content: center;
  }

  /* Карточка задачи на мобильных */
  .task-details {
    margin: -30 12px 20px;
    padding: 16px;
  }

  .task-details__title {
    font-size: 20px;
  }

  .task-details__actions {
    flex-wrap: wrap;
  }
}

/* Для планшетов (768px - 1024px) */
@media (min-width: 769px) and (max-width: 1235px) {
  .board {
    margin: 0 20px;
  }
  
  .board__content {
    overflow-x: auto;
  }
}
